<a href="https://colab.research.google.com/github/FinancialDiets/Python-For-Quants/blob/main/Pandas_Aplicado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clase de Análisis de datos con Pandas
Gold Trust

Autor: Mauricio Sandoval

In [ ]:
a = float("inf")
b = float("-inf")
print(a)
print(b)

inf
-inf

In [ ]:
float("3.255645")

In [ ]:
import math
print(math.isinf(a))
print(math.isinf(b))

True
True

In [ ]:
print(a + 45)
print(a * 10)
print(a / 10)
print(10 / a)
float("inf") == float("inf")

inf
inf
inf
0.0

True

In [ ]:
print(a/a)
print(a + b)

nan
nan

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame([1, 2, np.inf, -np.inf])
df

     0
0  1.0
1  2.0
2  inf
3 -inf

In [ ]:
dict_1 = {"id_": [6408],
          "name": ["Apple Inc"],
          "symbol": ["AAPL"],
          "country": ["united states"],
          "tag": ["/equities/apple-computer-inc"],
          "pair_type": ["stocks"],
          "exchange": ["NASDAQ"]}

In [ ]:
df_2 = pd.DataFrame(dict_1)
df_2

,id_,name,symbol,country,tag,pair_type,exchange
0,6408,Apple Inc,AAPL,united states,/equities/apple-computer-inc,stocks,NASDAQ

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4 non-null      float64
dtypes: float64(1)
memory usage: 160.0 bytes

In [ ]:
df.replace([np.inf, -np.inf], np.nan)

     0
0  1.0
1  2.0
2  NaN
3  NaN

In [ ]:
df.mask(np.isinf(df))

     0
0  1.0
1  2.0
2  NaN
3  NaN

## Ejercicios

In [ ]:
# Asignación de variables

papaya=10
platano=20
fresa=100

¿Como podria realizar al anterior codigo utilizando Asignacion de Variables multiple vistas en la presetación?

In [ ]:
## Escriba el codigo

In [ ]:
#operaciones Basica

print(papaya+platano)

print(papaya//platano)

print(papaya-platano)

print(papaya/platano)

print(fresa/platano)

30
0
-10
0.5
5.0

¿Comó podria agregar operaciones como la potencia o la division de piso?

In [ ]:
## Escriba el codigo

In [ ]:
# Siempre al principio, importamos las librerías.
import pandas as pd
import numpy as np

# Exploración

Vamos a analizar datos de una fuente real. La vacunación a nivel nacional <a href='https://www.datosabiertos.gob.pe/dataset/vacunaci%C3%B3n-contra-covid-19-ministerio-de-salud-minsa'>portal de datos abiertos</a> del Peru.  

En general los 4 primeros pasos para analizar un data set son:
1. Leerlo
2. Consultar cuáles son las columnas
3. Extraer una muestra
4. Verificar cuántos registros tiene

## 1- Para leer el data set usamos la función de pandas read_csv

Con esta función podemos leer archivos que estén en una url pública o en una ubicación del disco accesible desde la Jupyter Notebook.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#df = pd.read_csv('https://cloud.minsa.gob.pe/s/To2QtqoNjKqobfw/download', encoding = 'latin-1', error_bad_lines=False, lineterminator='\n')

In [ ]:
ruta = "/content/drive/MyDrive/01. Docencia/03. PiP/00. Curso de Python PiP/04. Sesión 04/"
df = pd.read_csv(ruta + 'vacunas_covid_smpl.csv')

In [ ]:
df.head()

   FECHA_CORTE      UUID  ...        PROVINCIA                DISTRITO
0     20210906   6506327  ...             LIMA  SAN JUAN DE MIRAFLORES
1     20210906  12962883  ...  SANCHEZ CARRION                  CURGOS
2     20210906  32474119  ...         AREQUIPA              PAUCARPATA
3     20210906  24549343  ...        CAJABAMBA              CONDEBAMBA
4     20210906  18924807  ...         AREQUIPA                   CAYMA

[5 rows x 12 columns]

## 2- Consultamos las columnas

In [ ]:
df.columns

Index(['FECHA_CORTE', 'UUID', 'GRUPO_RIESGO', 'EDAD', 'SEXO',
       'FECHA_VACUNACION', 'DOSIS', 'FABRICANTE', 'DIRESA', 'DEPARTAMENTO',
       'PROVINCIA', 'DISTRITO'],
      dtype='object')

## 3- Extraemos una muestra

In [ ]:
df.sample(5)

         FECHA_CORTE      UUID  ... PROVINCIA                    DISTRITO
566323      20210906  31606272  ...   SECHURA                     SECHURA
658749      20210906  10503851  ...    CAÑETE                        MALA
2033039     20210906  13944522  ...  OXAPAMPA             PUERTO BERMUDEZ
1625396     20210906  15187823  ...   SULLANA                     SULLANA
1890728     20210906  20352865  ...    CALLAO  CARMEN DE LA LEGUA REYNOSO

[5 rows x 12 columns]

## 4- Consultamos la cantidad de filas y de columnas

In [ ]:
# La propiedad shape nos devuelve una tupla (filas,columnas)
df.shape

(2071567, 12)

# Vectorización con Pandas

Pandas es una de las librerías de Python más usadas para análisis de datos. El nombre pandas viene de "Panel Data Analysis" y su funcionalidad permite hacer operaciones sobre datos que se encuentran en memoria de manera eficiente.

Pandas es útil para trabajar sobre datos tabulares, con dos condiciones importantes:

**I. Los datos se encuentran enteramente en la memoria RAM.** Con lo cual, el tamaño de los datos que podemos manipular está limitado por el hardware. Como regla de pulgar, es una buena práctica no ocupar más de 1/3 de la memoria RAM de nuestro dispositivo con el dataset. Así, si estamos trabajando localmente en una notebook con 8GB de memoria RAM no es recomendable procesar datasets de más de 2.33GB.

**II. En pandas, las operaciones sobre filas y columnas son, en general, eficientes** porque se hacen de forma ***"vectorizada"***. En realidad esta optimización, se hace desde numpy, una librería para realizar operaciones matemáticas que se utilizó a su vez para escribir pandas.

Las operaciones vectorizadas son las que se realizan en bloque en vez de caso por caso. Las computadoras de hoy tienen la capacidad de recibir muchas instrucciones juntas y procesar varias de ellas a la vez. Por ejemplo, si nuestro hardware tiene la capacidad de procesar 4 operaciones juntas, el resultado de vectorizar una operación matemática es el siguiente:

<img src = 'https://datasets-humai.s3.amazonaws.com/images/vectorizacion.png' />


En el primer caso hay que hacer 5 operaciones y en el segundo caso sólo dos.

Es importante entender, entonces, que Pandas trabaja de esta manera y que por eso es una de las herramientas más elegidas para manipular datos en memoria.



# Los objetos fundamentales de Pandas

## Series

Las series son "columnas" que de una tabla que están asociadas a un índice y a un nombre. Igual que una lista común de Python es una secuencia de elementos ordenados, pero a diferencia de la lista está asociada a más información.

In [ ]:
# Las series se pueden crear a partir de una lista
serie = pd.Series(['a','b','c'])

In [ ]:
# Propiedades importantes de las series
print('Tipo de objetos que tiene ', serie.dtype)
print('Nombre ', serie.name)
print('Index ',serie.index)
print('Valores ',serie.values)

Tipo de objetos que tiene  object
Nombre  None
Index  RangeIndex(start=0, stop=3, step=1)
Valores  ['a' 'b' 'c']

## DataFrames

Los DataFrames son "tablas", compuestas por varias "columnas" o series que comparten todas un mismo índice. En general los DataFrames se crean a partir de leer tablas de archivos (pueden ser en formato json o csv) pero a veces también se crean a partir de listas de diccionarios o de otras maneras.

Los DataFrames tienen un objeto Index que describe los nombres de columnas y otro objeto Index que describen los nombres de las filas.

In [ ]:
# Leemos un dataset público
df_casospositivos = pd.read_csv('https://cloud.minsa.gob.pe/s/Y8w3wHsEdYQSZRp/download',sep=';')

In [ ]:
df_casospositivos.head()

   FECHA_CORTE                              UUID  ...       SEXO FECHA_RESULTADO
0     20210703  7320cabdc1aaca6c59014cae76a134e6  ...   FEMENINO      20200329.0
1     20210703  cecdbf10074dbc011ae05b3cbd320a6f  ...  MASCULINO      20200330.0
2     20210703  71ecb6bccb248b0bb2ac72ed51b5e979  ...   FEMENINO      20200330.0
3     20210703  566af4276cbe9359abe93f9aa86396c3  ...   FEMENINO      20200330.0
4     20210703  027561e9d126e7c283d79c02cede562d  ...   FEMENINO      20200330.0

[5 rows x 9 columns]

In [ ]:
# Propiedades importantes de los dataframes
print('Columnas ', df_casospositivos.columns)
print('Index ', df_casospositivos.index)
print('Dimensiones ',df_casospositivos.shape)

Columnas  Index(['FECHA_CORTE', 'UUID', 'DEPARTAMENTO', 'PROVINCIA', 'DISTRITO',
       'METODODX', 'EDAD', 'SEXO', 'FECHA_RESULTADO'],
      dtype='object')
Index  RangeIndex(start=0, stop=2065113, step=1)
Dimensiones  (2065113, 9)

In [ ]:
# Consultar las primeras filas
df_casospositivos.head(10)

   FECHA_CORTE                              UUID  ...      SEXO FECHA_RESULTADO
0     20210426  7320cabdc1aaca6c59014cae76a134e6  ...  FEMENINO      20200526.0
1     20210426  cecdbf10074dbc011ae05b3cbd320a6f  ...  FEMENINO      20200529.0
2     20210426  71ecb6bccb248b0bb2ac72ed51b5e979  ...  FEMENINO      20200425.0
3     20210426  566af4276cbe9359abe93f9aa86396c3  ...  FEMENINO      20200429.0
4     20210426  027561e9d126e7c283d79c02cede562d  ...  FEMENINO      20200426.0
5     20210426  f016889b9ba5bd95cf15d60205cbd82e  ...  FEMENINO      20200428.0
6     20210426  971f8e1295583756d81fe42f3318488c  ...  FEMENINO      20200427.0
7     20210426  bc45b71b005a96f32eeb97060616a999  ...  FEMENINO      20200427.0
8     20210426  0e2a1928ddd07d99978758e86b034131  ...  FEMENINO      20200427.0
9     20210426  1caabc6f4c64b5910bd8254fa0f949ce  ...  FEMENINO      20200425.0

[10 rows x 9 columns]

In [ ]:
df_casospositivos.tail(10)

         FECHA_CORTE  ... FECHA_RESULTADO
1775052     20210426  ...      20210128.0
1775053     20210426  ...      20210128.0
1775054     20210426  ...      20210128.0
1775055     20210426  ...      20210130.0
1775056     20210426  ...      20210130.0
1775057     20210426  ...      20210130.0
1775058     20210426  ...      20210130.0
1775059     20210426  ...      20210131.0
1775060     20210426  ...      20210201.0
1775061     20210426  ...      20210201.0

[10 rows x 9 columns]

Si queremos extraer una serie del DataFrame, podemos hacerlo de la misma forma en que extraemos un valor de un diccionario.

In [ ]:
serie_mes = df_casospositivos['FECHA_RESULTADO']

In [ ]:
type(serie_mes)

pandas.core.series.Series

In [ ]:
serie_mes

0          20200526.0
1          20200529.0
2          20200425.0
3          20200429.0
4          20200426.0
              ...
1775057    20210130.0
1775058    20210130.0
1775059    20210131.0
1775060    20210201.0
1775061    20210201.0
Name: FECHA_RESULTADO, Length: 1775062, dtype: float64

## Índices

Los índices acompañan a las series y a los Data Frames. Son conjuntos ordenados e inmutables de elementos

In [ ]:
df_casospositivos.index

RangeIndex(start=0, stop=1775062, step=1)

In [ ]:
df_casospositivos.columns

Index(['FECHA_CORTE', 'UUID', 'DEPARTAMENTO', 'PROVINCIA', 'DISTRITO',
       'METODODX', 'EDAD', 'SEXO', 'FECHA_RESULTADO'],
      dtype='object')

Ejercicio: exploren el dataset público que se encuentra en la siguiente url: https://datasets-humai.s3.amazonaws.com/datasets/titanic.csv ¿De qué se trata? ¿Cuántas filas tiene? ¿Cuántas columnas? Al leerlo, pueden almacenarlo en la variable df_titanic.

In [ ]:
df_titanic = pd.read_csv("https://datasets-humai.s3.amazonaws.com/datasets/titanic.csv",sep='|')

In [ ]:
df_titanic.sample(5)

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
428          429         0       3  ...   7.7500   NaN         Q
49            50         0       3  ...  17.8000   NaN         S
882          883         0       3  ...  10.5167   NaN         S
521          522         0       3  ...   7.8958   NaN         S
762          763         1       3  ...   7.2292   NaN         C

[5 rows x 12 columns]

In [ ]:
df_titanic.shape

(891, 12)

## Filtrando un DataFrame (Indexing)

Hay muchas técnicas para filtrar un DataFrame. Podemos querer filtrar por columnas o por filas, por posición o por nombre. También podemos querer filtrar por condiciones que se cumplen o no. Cuando no queremos filtrar sobre una dimensión (filas o columnas) usamos ":" para seleccionar todo.

### Boolean Indexing

Supongamos que queremos tomar el dataset de funcionarios y quedarnos únicamente con los que pertenecen al Ministerio de Cultura.
Para eso lo que hacemos es indexar al DataFrame por una condición booleana. Eso implica que debemos crear una serie compuesta por valores True y False para aplicarla como índice a las filas.

Los operadores que sirven para evaluar condiciones sobre las series son:


| S  | Descripción   | S  | Descripción   |   |
|----|---------------|----|---------------|---|
| >= | Mayor o Igual | <= | Menor o Igual |   |
| == | Igual         | != | Distinto      |   |
| >  | Mayor         | <  | Menor         |   |

#### Máscara booleana

Veamos lo que pasa cuando le aplicamos a una serie una condición que devuelve un booleano

In [ ]:
df_casospositivos['DEPARTAMENTO'] != 'JUNIN'

0          True
1          True
2          True
3          True
4          True
           ...
2065108    True
2065109    True
2065110    True
2065111    True
2065112    True
Name: DEPARTAMENTO, Length: 2065113, dtype: bool

In [ ]:
mascara_booleana = df_casospositivos['DEPARTAMENTO'] != 'JUNIN'

Nos devuelve una serie de la misma longitud que la original y que contiene sólo valores True o False.

In [ ]:
type(mascara_booleana)

pandas.core.series.Series

In [ ]:
mascara_booleana.shape

(2065113,)

In [ ]:
mascara_booleana.dtype

dtype('bool')

Ahora seleccionemos entonces, los registros que corresponden al sexo masculino

In [ ]:
df_mas = df_casospositivos.loc[df_casospositivos['EDAD'] > 40 ,:]

In [ ]:
# Veamos la cantidad de casos
df_mas.shape

(1059060, 9)

In [ ]:
df_mas

         FECHA_CORTE  ... FECHA_RESULTADO
1           20210703  ...      20200330.0
5           20210703  ...      20200330.0
8           20210703  ...      20200330.0
9           20210703  ...      20200330.0
11          20210703  ...      20200330.0
...              ...  ...             ...
2065102     20210703  ...      20210529.0
2065108     20210703  ...      20210529.0
2065109     20210703  ...      20210529.0
2065110     20210703  ...      20210529.0
2065111     20210703  ...      20210528.0

[1059060 rows x 9 columns]

Probemos con otra condición.

Ejercicio1: Traer todos los casos de la segunda mitad del año...

In [ ]:
# Solución
df_sem2 = df_casospositivos[df_casospositivos['FECHA_RESULTADO'] > 20200601]

Ejercicio 2: Volviendo al DataFrame del Titanic ¿Cuántos pasajeros sobrevivieron y cuántos no? ¿Cuántos pagaron una tarifa menor a 25?

In [ ]:
df_titanic = pd.read_csv('https://datasets-humai.s3.amazonaws.com/datasets/titanic.csv',sep='|')

In [ ]:
#Solución
df_titanic[df_titanic['Survived']==1].shape

(342, 12)

In [ ]:
df_titanic[df_titanic['Survived']==0].shape

(549, 12)

In [ ]:
df_titanic[df_titanic['Fare'] < 25].shape

(557, 12)

#### Máscara booleana con muchas condiciones

Ahora tratemos de filtrar el dataset por dos condiciones: por ejemplo tomar los sueldos de abril de la secretaria de innovación.
Para eso tenemos que combinar dos máscaras booleanas con una condición.

| S | Descripcion        | S  | Descripcion |   |
|---|--------------------|----|-------------|---|
| & | AND (y)            | \| | OR (o)      |   |
| ^ | XOR (o exclusivo)  | ~  | NOT (no)    |   |

In [ ]:
df_casospositivos.columns

Index(['FECHA_CORTE', 'UUID', 'DEPARTAMENTO', 'PROVINCIA', 'DISTRITO',
       'METODODX', 'EDAD', 'SEXO', 'FECHA_RESULTADO'],
      dtype='object')

In [ ]:
df_casospositivos[(df_casospositivos['SEXO']=='MASCULINO') & (df_casospositivos['EDAD'] > 25)]

         FECHA_CORTE  ... FECHA_RESULTADO
1           20210703  ...      20200330.0
5           20210703  ...      20200330.0
8           20210703  ...      20200330.0
9           20210703  ...      20200330.0
11          20210703  ...      20200330.0
...              ...  ...             ...
2065101     20210703  ...      20210528.0
2065108     20210703  ...      20210529.0
2065109     20210703  ...      20210529.0
2065110     20210703  ...      20210529.0
2065111     20210703  ...      20210528.0

[888544 rows x 9 columns]

Ahora veamos otro ejemplo

In [ ]:
df_casospositivos[(df_casospositivos['SEXO']=='MASCULINO') & (df_casospositivos['DEPARTAMENTO'] == 'LIMA')]

         FECHA_CORTE  ... FECHA_RESULTADO
1           20210703  ...      20200330.0
5           20210703  ...      20200330.0
9           20210703  ...      20200330.0
11          20210703  ...      20200330.0
12          20210703  ...      20200330.0
...              ...  ...             ...
2065070     20210703  ...      20210529.0
2065083     20210703  ...      20210529.0
2065084     20210703  ...      20210529.0
2065088     20210703  ...      20210529.0
2065108     20210703  ...      20210529.0

[448568 rows x 9 columns]

### Fancy Indexing

Ahora vamos a quedarnos con un subconjunto de columnas del DataFrame.

In [ ]:
df_view = df_casospositivos.loc[:,['SEXO','DEPARTAMENTO']]

In [ ]:
df_view

              SEXO DEPARTAMENTO
0         FEMENINO   LAMBAYEQUE
1        MASCULINO         LIMA
2         FEMENINO         LIMA
3         FEMENINO         LIMA
4         FEMENINO         LIMA
...            ...          ...
2065108  MASCULINO         LIMA
2065109  MASCULINO     AREQUIPA
2065110  MASCULINO   LAMBAYEQUE
2065111  MASCULINO  LA LIBERTAD
2065112   FEMENINO         LIMA

[2065113 rows x 2 columns]

In [ ]:
df_view.shape

(2065113, 2)

Existe una forma menos explícita de hacer esta misma operación. Si pasamos una lista al indexing, pandas asume que el tipo de indexing es loc y que el filtro es sobre las columnas y no las filas:

In [ ]:
df_view = df_casospositivos[['SEXO','DEPARTAMENTO']]

In [ ]:
df_view.shape

(2065113, 2)

Fíjense lo que pasa si tratamos de acceder a filas utilizando una lista de nombres, en este caso [0,1].

In [ ]:
# Incorrecto
df_view = df[[3,8]]

KeyError: ignored

Nos da un error porque cuando pasamos únicamente una lista al indexing, pandas asume que queremos un set de columnas y si los nombres no existen, da error. La forma correcta de hacerlo es pasar una lista de índices y explicitar que vamos a indizar con loc y que seleccionamos todas las columnas.

In [ ]:
# Correcto
df_view = df_casospositivos.loc[[3,8],:]

In [ ]:
df_view

   FECHA_CORTE                              UUID  ...       SEXO FECHA_RESULTADO
3     20210703  566af4276cbe9359abe93f9aa86396c3  ...   FEMENINO      20200330.0
8     20210703  0e2a1928ddd07d99978758e86b034131  ...  MASCULINO      20200330.0

[2 rows x 9 columns]

Ejercicio. Volviendo al ejemplo del titanic...

1) ¿Cuántos hombres y mujeres sobrevivieron?

2) ¿Cuántos menores de 18 años había? ¿Cuántos sobrevivieron?

3) Seleccionen únicamente las columnas Sex y Survived y almacenenlas en un nuevo DataFrame que se llame df_titanic_subset.

In [ ]:
df_titanic.query('Sex == "male" & Survived==1').shape

(109, 12)

In [ ]:
df_titanic.query('Sex == "female" & Survived==1').shape

(233, 12)

In [ ]:
df_titanic.query('Age <= 18').shape

(139, 12)

In [ ]:
df_titanic.query('Age <= 18 & Survived==1').shape

(70, 12)

In [ ]:
df_titanic_subset = df_titanic[['Sex','Survived']]

In [ ]:
df_titanic_subset.head()

      Sex  Survived
0    male         0
1  female         1
2  female         1
3  female         1
4    male         0

## Funciones de Agregación

Utilizando Pandas podemos aplicar funciones a nivel de columna. Algunas funciones predefinidas son la media, el desvío estándar y la sumatoria, el valor máximo y el mínimo.

Algunas de las funciones de agregación más comunes son:

<ul>
    <li>min</li>
    <li>max</li>
    <li>count</li>
    <li>sum</li>
    <li>prod</li>
    <li>mean</li>
    <li>median</li>
    <li>mode</li>
    <li>std</li>
    <li>var</li>
</ul>

In [ ]:
df_casospositivos['EDAD'].max()

121.0

In [ ]:
df_casospositivos['EDAD'].mean()

42.20716167280698

In [ ]:
df_casospositivos['EDAD'].std()

17.703831792898022

In [ ]:
df_casospositivos['EDAD'].sum()

87148039.0

Podemos combinar los filtros que vimos antes con las funciones de agregación para responder preguntas cómo ¿Cuál fue la edad promedio en lima de casos covid positivos? ¿y solo Masculina?

In [ ]:
df_casospositivos[df_casospositivos['DEPARTAMENTO'] == 'LIMA']['EDAD'].mean()

42.62343014291768

In [ ]:
df_casospositivos[(df_casospositivos['DEPARTAMENTO'] == 'LIMA')&(df_casospositivos['SEXO'] == 'MASCULINO')]['EDAD'].mean()

42.641066239683155

Ahora respondamos algunas preguntas: ¿Cúal es la edad mas alta? ¿Y el más bajo?

In [ ]:
df_casospositivos[(df_casospositivos['DEPARTAMENTO'] == 'LIMA')&(df_casospositivos['SEXO'] == 'MASCULINO')]['EDAD'].max()

121.0

In [ ]:
df_casospositivos[(df_casospositivos['DEPARTAMENTO'] == 'LIMA')&(df_casospositivos['SEXO'] == 'MASCULINO')]['EDAD'].min()

0.0

# Otros análisis descriptivos

Pandas viene con algunas funciones built-in para ayudar al análisis descriptivo.

## Para las variables numéricas

In [ ]:
df_casospositivos.describe()

       FECHA_CORTE          EDAD  FECHA_RESULTADO
count    2065113.0  2.064769e+06     2.063090e+06
mean    20210703.0  4.220716e+01     2.020561e+07
std            0.0  1.770383e+01     4.785085e+03
min     20210703.0 -7.900000e+01     2.020031e+07
25%     20210703.0  2.900000e+01     2.020081e+07
50%     20210703.0  4.000000e+01     2.021011e+07
75%     20210703.0  5.400000e+01     2.021033e+07
max     20210703.0  1.210000e+02     2.021070e+07

## Para las variables categóricas

In [ ]:
df_casospositivos['DEPARTAMENTO'].value_counts()

LIMA             842723
AREQUIPA         102772
CALLAO            97416
LA LIBERTAD       83611
PIURA             82835
JUNIN             79309
ANCASH            73266
LIMA REGION       68679
CUSCO             68101
CAJAMARCA         62448
LAMBAYEQUE        57641
ICA               55263
SAN MARTIN        46264
LORETO            41896
PUNO              35605
HUANUCO           33830
UCAYALI           31720
AYACUCHO          30800
AMAZONAS          30079
TACNA             27909
MOQUEGUA          26800
APURIMAC          24858
TUMBES            17593
HUANCAVELICA      15321
PASCO             14836
MADRE DE DIOS     13538
Name: DEPARTAMENTO, dtype: int64

In [ ]:
df_casospositivos.columns

Index(['FECHA_CORTE', 'UUID', 'DEPARTAMENTO', 'PROVINCIA', 'DISTRITO',
       'METODODX', 'EDAD', 'SEXO', 'FECHA_RESULTADO'],
      dtype='object')

### Ejercicio: Volviendo al ejemplo del Titanic:

1) ¿Cuál era la edad promedio de los pasajeros de cada clase (Pclass)?

2) ¿Cuál fue la tarifa que pagaron en promedio los hombres? ¿Y las mujeres?

3) ¿Cuánto pagaron en total los pasajeros de primera clase para subir al Titanic? ¿Y los de tercera?

4) ¿Cuántos pasajeros había en cada tipo de clase?

In [ ]:
df_titanic.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
df_titanic.query('Pclass == 1')['Age'].mean()

38.233440860215055

In [ ]:
df_titanic.query('Pclass == 2')['Age'].mean()

29.87763005780347

In [ ]:
df_titanic.query('Pclass == 3')['Age'].mean()

25.14061971830986

In [ ]:
df_titanic.query('Sex == "male"')['Fare'].mean()

25.523893414211418

In [ ]:
df_titanic.query('Sex == "female"')['Fare'].mean()

44.47981783439487

In [ ]:
df_titanic.query('Pclass == 1')['Fare'].sum()

18177.4125

In [ ]:
df_titanic.query('Pclass == 3')['Fare'].sum()

6714.6951

In [ ]:
df_titanic['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

## Ordenar por columnas y limitar la cantidad de resultados

Otra forma de resolver el problema de encontrar el mayor y el menos es con el método sort_values. Este método puede recibir un valor único (nombre de columna) o una lista (con varias columnas) y un orden asc o desc. Por default el orden es asc.

Si combinamos el ordenamiento con el método head() para limitar la cantidad de resultados, podemos encontrar los N primeros.

In [ ]:
# Recordemos cómo abrir la documentación de un método
df_casospositivos.sort_values?

In [ ]:
# Calculamos el máximo
df_casospositivos.sort_values('EDAD',ascending=False).head(10)

         FECHA_CORTE  ... FECHA_RESULTADO
1876749     20210703  ...      20210105.0
1588183     20210703  ...      20210312.0
1871869     20210703  ...      20210119.0
1873201     20210703  ...      20210303.0
1859534     20210703  ...      20200924.0
70046       20210703  ...      20200411.0
1873708     20210703  ...      20210305.0
444477      20210703  ...      20200411.0
1554589     20210703  ...      20200810.0
1871849     20210703  ...      20210206.0

[10 rows x 9 columns]

In [ ]:
# Calculamos el mínimo
df_casospositivos.sort_values('EDAD').head(10)

         FECHA_CORTE  ... FECHA_RESULTADO
2032386     20210703  ...      20210505.0
773103      20210703  ...      20201123.0
864626      20210703  ...      20210120.0
864627      20210703  ...      20210210.0
864629      20210703  ...      20210411.0
864632      20210703  ...      20210214.0
734451      20210703  ...      20200824.0
625795      20210703  ...      20200815.0
734450      20210703  ...      20200822.0
864754      20210703  ...      20210201.0

[10 rows x 9 columns]

In [ ]:
df_casospositivos.groupby(['DEPARTAMENTO'])['EDAD'].mean()

DEPARTAMENTO
AMAZONAS         39.709655
ANCASH           42.915527
APURIMAC         41.196999
AREQUIPA         43.187940
AYACUCHO         42.945747
CAJAMARCA        41.553597
CALLAO           43.158116
CUSCO            41.867988
HUANCAVELICA     39.755173
HUANUCO          41.884100
ICA              40.775176
JUNIN            41.702313
LA LIBERTAD      42.918500
LAMBAYEQUE       43.919543
LIMA             42.623430
LIMA REGION      42.572188
LORETO           39.209582
MADRE DE DIOS    38.760730
MOQUEGUA         41.172985
PASCO            40.046579
PIURA            41.549696
PUNO             42.523888
SAN MARTIN       39.992024
TACNA            41.984449
TUMBES           39.623060
UCAYALI          40.918884
Name: EDAD, dtype: float64

In [ ]:
df_casospositivos.groupby(['DEPARTAMENTO','SEXO'])['EDAD'].median().reset_index()

     DEPARTAMENTO       SEXO  EDAD
0        AMAZONAS   FEMENINO  36.0
1        AMAZONAS  MASCULINO  39.0
2          ANCASH   FEMENINO  40.0
3          ANCASH  MASCULINO  42.0
4        APURIMAC   FEMENINO  38.0
5        APURIMAC  MASCULINO  40.0
6        AREQUIPA   FEMENINO  42.0
7        AREQUIPA  MASCULINO  42.0
8        AYACUCHO   FEMENINO  40.0
9        AYACUCHO  MASCULINO  42.0
10      CAJAMARCA   FEMENINO  38.0
11      CAJAMARCA  MASCULINO  40.0
12         CALLAO   FEMENINO  41.0
13         CALLAO  MASCULINO  42.0
14          CUSCO   FEMENINO  39.0
15          CUSCO  MASCULINO  41.0
16   HUANCAVELICA   FEMENINO  37.0
17   HUANCAVELICA  MASCULINO  38.0
18        HUANUCO   FEMENINO  39.0
19        HUANUCO  MASCULINO  41.0
20            ICA   FEMENINO  38.0
21            ICA  MASCULINO  40.0
22          JUNIN   FEMENINO  39.0
23          JUNIN  MASCULINO  41.0
24    LA LIBERTAD   FEMENINO  40.0
25    LA LIBERTAD  MASCULINO  42.0
26     LAMBAYEQUE   FEMENINO  42.0
27     LAMBAYEQUE  MASCULINO  44.0
28           LIMA   FEMENINO  41.0
29           LIMA  MASCULINO  41.0
30    LIMA REGION   FEMENINO  40.0
31    LIMA REGION  MASCULINO  42.0
32         LORETO   FEMENINO  37.0
33         LORETO  MASCULINO  39.0
34  MADRE DE DIOS   FEMENINO  35.0
35  MADRE DE DIOS  MASCULINO  40.0
36       MOQUEGUA   FEMENINO  40.0
37       MOQUEGUA  MASCULINO  40.0
38          PASCO   FEMENINO  37.0
39          PASCO  MASCULINO  39.0
40          PIURA   FEMENINO  39.0
41          PIURA  MASCULINO  41.0
42           PUNO   FEMENINO  40.0
43           PUNO  MASCULINO  42.0
44     SAN MARTIN   FEMENINO  37.0
45     SAN MARTIN  MASCULINO  39.0
46          TACNA   FEMENINO  40.0
47          TACNA  MASCULINO  42.0
48         TUMBES   FEMENINO  38.0
49         TUMBES  MASCULINO  38.0
50        UCAYALI   FEMENINO  38.0
51        UCAYALI  MASCULINO  41.0

# Anexo: volviendo al tema de la vectorización

¿Por qué es tan importante trabajar con Pandas y no con funciones escritas por nosotros en Python nativo y que procesen los datos dentro de un for loop?

Por un lado está la comodidad. Hay mucha funcionalidad que ya está desarrollada en Pandas. Existen funciones que resuelven muchos de los problemas clásicos de manipular datos: agrupar, sumarizar, sacar estadísticas, filtrar, etc. Pero además hay una razón de performance.

Veamos una demostración de que vectorizar es más eficiente. Vamos a crear dos listas de 1.000.000 de números aleatorios cada una y vamos a tratar de multiplicar elemento por elemento con pandas y sin pandas:

In [ ]:
lista1 = list(np.random.randint(1, 100, 1000000))
lista2 = list(np.random.randint(1, 100, 1000000))

In [ ]:
%%timeit
for x,y in zip(lista1,lista2):
    x * y

10 loops, best of 5: 141 ms per loop

Ahora probemos hacer lo mismo con dos series de Pandas

In [ ]:
serie1 = pd.Series(lista1)
serie2 = pd.Series(lista2)

In [ ]:
%%timeit
resultado = serie1 * serie2

100 loops, best of 5: 2.93 ms per loop

Conclusión: la operación vectorizada es <strong> más de 70 veces más rápida.</strong>